<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="authentication" type="io.micronaut.security.authentication.Authentication "*/-->
<!--/*@thymesVar id="currentMenu" type="java.lang.String"*/-->
<nav th:fragment="nav(authentication, currentMenu)"
     th:if="${authentication}" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="#{nav.toggle}">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li th:replace="fragments/bootstrap/nav-item :: nav-item('/subscriber/create', #{nav.subscriber.add}, ${currentMenu == 'create' ? true : false})"></li>
                <li th:replace="fragments/bootstrap/nav-item :: nav-item('/subscriber/list', #{nav.subscriber.list}, ${currentMenu == 'list' ? true : false})"></li>
                <li th:replace="fragments/bootstrap/nav-item :: nav-item('/subscriber/import', #{nav.subscriber.import}, ${currentMenu == 'import' ? true : false})"></li>
            </ul>
            <ul class="navbar-nav" data-turbo="false">
                <li th:replace="fragments/bootstrap/nav-item :: nav-item('/lang/es', #{languages.es}, false)"></li>
                <li th:replace="fragments/bootstrap/nav-item :: nav-item('/lang/en', #{languages.en}, false)"></li>
                <li th:replace="fragments/bootstrap/nav-item :: nav-item('/oauth/logout', #{nav.logout}, false)"></li>
            </ul>
        </div>
    </div>
</nav>
