<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="pagination" type="io.micronaut.live.views.Pagination"*/-->
<!--/*@thymesVar id="ariaLabel" type="java.lang.String"*/-->
<nav th:fragment="pagination(pagination, ariaLabel)"
     th:attr="aria-label=${ariaLabel}">
    <ul class="pagination">
        <li class="page-item" th:if="${pagination.hasPrevious()}"><a class="page-link" th:href="${pagination.getPreviousHref().get()}">Previous</a></li>
        <th:block th:each="page : ${pagination.pages}">
            <li th:replace="fragments/bootstrap :: page-item(${page})"></li>
        </th:block>
        <li class="page-item" th:if="${pagination.hasNext()}"><a class="page-link" th:href="${pagination.getNextHref().get()}">Next</a></li>
    </ul>
</nav>
</html>