<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head(${title})"></head>
<body>
<div class="container">
    <nav th:replace="fragments/nav :: nav(${authentication},  null)"></nav>
    <th:block th:if="${alert.primary}">
        <li th:replace="fragments/bootstrap :: alert(${alert.primary}, 'alert-primary')"></li>
    </th:block>
    <th:block th:if="${alert.secondary}">
        <li th:replace="fragments/bootstrap :: alert(${alert.secondary}, 'alert-secondary')"></li>
    </th:block>
    <th:block th:if="${alert.success}">
        <li th:replace="fragments/bootstrap :: alert(${alert.success}, 'alert-success')"></li>
    </th:block>
    <th:block th:if="${alert.danger}">
        <li th:replace="fragments/bootstrap :: alert(${alert.danger}, 'alert-danger')"></li>
    </th:block>
    <th:block th:if="${alert.warning}">
        <li th:replace="fragments/bootstrap :: alert(${alert.warning}, 'alert-warning')"></li>
    </th:block>
    <th:block th:if="${alert.info}">
        <li th:replace="fragments/bootstrap :: alert(${alert.info}, 'alert-info')"></li>
    </th:block>
    <th:block th:if="${alert.light}">
        <li th:replace="fragments/bootstrap :: alert(${alert.light}, 'alert-light')"></li>
    </th:block>
    <th:block th:if="${alert.dark}">
        <li th:replace="fragments/bootstrap :: alert(${alert.dark}, 'alert-dark')"></li>
    </th:block>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>


