<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head(${title})"></head>
<body>
<div class="container">
    <nav th:if="${authentication}" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li th:replace="fragments/bootstrap :: nav-item('/subscriber/create', 'Create', false)"></li>
                    <li th:replace="fragments/bootstrap :: nav-item('/subscriber/list', 'List', false)"></li>
                    <li th:replace="fragments/bootstrap :: nav-item('/subscriber/import', 'Import', false)"></li>
                    <li th:replace="fragments/bootstrap :: nav-item('/oauth/logout', 'Logout', false)"></li>
                </ul>
            </div>
        </div>
    </nav>
    <th:block th:if="${alert.primary}">
        <div th:replace="fragments/bootstrap :: alert(${alert.primary}, 'alert-primary')"></div>
    </th:block>
    <th:block th:if="${alert.secondary}">
        <div th:replace="fragments/bootstrap :: alert(${alert.secondary}, 'alert-secondary')"></div>
    </th:block>
    <th:block th:if="${alert.success}">
        <div th:replace="fragments/bootstrap :: alert(${alert.success}, 'alert-success')"></div>
    </th:block>
    <th:block th:if="${alert.danger}">
        <div th:replace="fragments/bootstrap :: alert(${alert.danger}, 'alert-danger')"></div>
    </th:block>
    <th:block th:if="${alert.warning}">
        <div th:replace="fragments/bootstrap :: alert(${alert.warning}, 'alert-warning')"></div>
    </th:block>
    <th:block th:if="${alert.info}">
        <div th:replace="fragments/bootstrap :: alert(${alert.info}, 'alert-info')"></div>
    </th:block>
    <th:block th:if="${alert.light}">
        <div th:replace="fragments/bootstrap :: alert(${alert.light}, 'alert-light')"></div>
    </th:block>
    <th:block th:if="${alert.dark}">
        <div th:replace="fragments/bootstrap :: alert(${alert.dark}, 'alert-dark')"></div>
    </th:block>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>


