<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head('Subscriber Detail')"></head>
<body>
<div class="container">
    <nav th:replace="fragments/nav :: nav(${authentication},  null)"></nav>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li th:replace="fragments/bootstrap :: breadcrumb-item('List', '/subscriber/list')"></li>
            <li th:replace="fragments/bootstrap :: breadcrumb-item('Subscriber Detail', null)"></li>
        </ol>
    </nav>
    <ul>
        <li>Email: <span th:text="${subscriber.email}"></span></li>
        <li th:if="${subscriber.name}">Name: <span th:text="${subscriber.name}"></span></li>
    </ul>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>