<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head('Edit Subscriber')"></head>
<body>
<div class="container">
    <nav th:replace="fragments/nav :: nav(${authentication},  null)"></nav>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li th:replace="fragments/bootstrap :: breadcrumb-item('List', '/subscriber/list')"></li>
            <li class="breadcrumb-item"><a th:href="@{|/subscriber/${subscriber.id}|}">Subscriber Detail</a></li>
            <li th:replace="fragments/bootstrap :: breadcrumb-item('Edit Subscriber', null)"></li>
        </ol>
    </nav>
    <form method="post" action="/subscriber/update">
        <input type="hidden" name="id" th:value="${subscriber.id}"/>
        <div th:replace="fragments/bootstrap :: form-input('text','subscriber-name','name', 'Name', ${subscriber.name})"></div>
        <div th:replace="fragments/bootstrap :: form-input('email','subscriber-email','email', 'Email', ${subscriber.email})"></div>
        <button th:replace="fragments/bootstrap :: submit('Update', 'btn-primary')"></button>
    </form>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>