<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head('Subscribers')"></head>
<body>
<div class="container">
    <nav th:replace="fragments/nav :: nav(${authentication}, 'list')"></nav>
    <h1>Subscribers</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row : ${rows}">
            <td th:text="${row.email}"></td>
            <td th:text="${row.name}"></td>
            <td th:insert="fragments/bootstrap :: alert(${row.status}, ${row.statusAlertClass()})"></td>
        </tr>
        </tbody>
    </table>
    <nav th:replace="fragments/pagination :: pagination(${pagination}, 'Subscriber pagination')"></nav>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>