<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head('Create | Subscription')"></head>
<body>
<div class="container">
    <nav th:replace="fragments/nav :: nav(${authentication}, 'create')"></nav>
    <h1>Subscribe</h1>
    <form action="/subscriber/save" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <button type="submit" class="btn btn-primary">Subscribe</button>
    </form>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>