<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head('Edit Subscriber')"></head>
<body>
<div class="container">
    <nav th:replace="fragments/nav :: nav(${authentication},  null)"></nav>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li th:replace="fragments/bootstrap :: breadcrumb-item('List', '/subscriber/list')"></li>
            <li th:replace="fragments/bootstrap :: breadcrumb-item('List', '@{|/subscriber/${subscriber.id}|}')"></li>
            <li th:replace="fragments/bootstrap :: breadcrumb-item('Edit Subscriber', null)"></li>
        </ol>
    </nav>
    <form method="post" action="/subscriber/update">
        <input type="hidden" name="id"/>
        <div class="mb-3">
            <label for="subscriber-name" class="form-label">Email address</label>
            <input type="text" name="name" class="form-control" id="subscriber-name">
        </div>
        <div class="mb-3">
            <label for="subscriber-email" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="subscriber-email">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>