<!DOCTYPE html>
<html>
<head>
    <title>You are no longer subscribed</title>
</head>
<body>
<div class="container">
    <nav th:if="${authentication}" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/subscriber/create">Create</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/subscriber/list">List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/subscriber/import">Import</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/oauth/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<h1>You are no longer subscribed</h1>
</div>
</body>
</html>