<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head(#{subscriber.detail.title})"></head>
<body>
    <nav th:replace="fragments/nav :: nav(${authentication},  null)"></nav>
    <main class="container">
        <div class="bg-light p-5 rounded">
            <turbo-frame id="main-container">
                <div th:replace="subscriber/fragments/show :: show(${subscriber})"></div>
            </turbo-frame>
        </div>
    </main>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>