<div th:fragment="create()">
    <h1 th:text="#{subscribe.prompt}"></h1>
    <form action="/subscriber/save" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label" th:text="#{subscriber.email}"></label>
            <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <button type="submit" class="btn btn-primary" th:text="#{subscriber.submit}"></button>
    </form>
</div>

