<div th:fragment="edit(subscriber)">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li th:replace="fragments/bootstrap/breadcrumb-item :: breadcrumb-item('List', '/subscriber/list')"></li>
            <li class="breadcrumb-item"><a th:href="@{|/subscriber/${subscriber.id}|}" th:text="#{subscriber.detail.title}"></a></li>
            <li th:replace="fragments/bootstrap/breadcrumb-item :: breadcrumb-item(#{subscriber.edit}, null)"></li>
        </ol>
    </nav>
    <form method="post" action="/subscriber/update">
        <input type="hidden" name="id" th:value="${subscriber.id}"/>
        <div th:replace="fragments/bootstrap/form-input :: form-input('text','subscriber-name','name', #{subscriber.name}, ${subscriber.name})"></div>
        <div th:replace="fragments/bootstrap/form-input :: form-input('email','subscriber-email','email', #{subscriber.email}, ${subscriber.email})"></div>
        <button th:replace="fragments/bootstrap/submit :: submit(#{subscriber.update}, 'btn-primary')"></button>
    </form>
</div>