<div th:fragment="import()">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li th:replace="fragments/bootstrap/breadcrumb-item :: breadcrumb-item('List', '/subscriber/list')"></li>
            <li th:replace="fragments/bootstrap/breadcrumb-item :: breadcrumb-item(#{subscriber.import}, null)"></li>
        </ol>
    </nav>
    <h1 th:text="#{subscriber.import}"></h1>
    <form action="/subscriber/import" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="file" class="form-label" th:text="#{subscriber.import.file.csv}"></label>
            <input class="form-control" type="file" id="file" name="file">
        </div>
        <button type="submit" class="btn btn-primary" th:text="#{subscriber.import}"></button>
    </form>
</div>