<div th:fragment="list()">
    <div class="d-flex flex-row-reverse">
        <div  class="px-2">
            <a href="/subscriber/create">
                <button th:replace="fragments/bootstrap/button :: button(#{nav.subscriber.add}, 'btn-primary')"></button>
            </a>
        </div>
        <div class="px-2">
            <a href="/subscriber/import">
                    <button th:replace="fragments/bootstrap/button :: button(#{nav.subscriber.import}, 'btn-primary')"></button>
                </a>
        </div>
    </div>

    <table th:replace="subscriber/fragments/table :: table(${rows}, ${pagination})"></table>
</div>