<div th:fragment="show(subscriber)">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li th:replace="fragments/bootstrap/breadcrumb-item :: breadcrumb-item('List', '/subscriber/list')"></li>
            <li th:replace="fragments/bootstrap/breadcrumb-item :: breadcrumb-item(#{subscriber.detail.title}, null)"></li>
        </ol>
    </nav>
    <a th:href="@{|/subscriber/${subscriber.id}/edit|}">
        <button th:replace="fragments/bootstrap/button :: button('Edit', 'btn-primary')"></button>
    </a>
    <ul>
        <li>Email: <span th:text="${subscriber.email}"></span></li>
        <li th:if="${subscriber.name}">Name: <span th:text="${subscriber.name}"></span></li>
    </ul>
</div>